{{define "index"}}

{{template "header"}}

    <a name="" id="" class="btn btn-primary" href="/create" role="button">Agregar empleado</a>

    <br/><br/>
    
      <table class="table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>

            {{range.}}
              <tr>
                <td scope="row">{{.Id}}</td>
                <td>{{.Nombre}}</td>
                <td>{{.Correo}}</td>
                <td>
                    <a name="" id="" class="btn btn-primary" href="/edit?idEmpleado={{.Id}}" role="button">
                    Editar
                    </a> |
                    <a name="" id="" class="btn btn-danger" href="/delete?idEmpleado={{.Id}}" role="button">
                    Borrar
                    </a>
                </td>
              </tr>
            {{end}}

          </tbody>
      </table>

{{template "footer"}}

{{end}}